pynacl
discord.py [voice, speed] @ git+https://github.com/Rapptz/discord.py
pip
yt-dlp
colorlog
colorama >= 0.4.6; sys_platform == 'win32'
cffi --only-binary all; sys_platform == 'win32'
certifi
configupdater
pymediainfo  # included for coverage, could be removed later.

objgraph
flake8
flake8-type-checking
black
isort[colors]
mypy
pylint
polib
argostranslate
marko

# type stubs for untyped packages.
# ytdlp and pymediainfo do not seem to have these.
types-certifi
types-objgraph
types-colorama

